<!DOCTYPE html>
<html>
<head>
	<title>{% if MODTITLE %}{{ MODTITLE }} :: {% endif %}{{ constant('SITENAME') }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="Description" content=""/>
	<meta name="Author" content="{{ constant('AUTHORNAME') }}"/>
	<meta name="application-name" content="{{ constant('SITENAME') }}" />
	<meta name="msapplication-starturl" content="{{ constant('DEFAULTLINK') }}" />
	<meta name="Keywords" content="projet"/>
	<meta name="Robots" content="Index, Follow"/>
	<meta name="revisit-after" content="16 days"/>
{% if METAPROP %}
	{% for property,content in METAPROP %}
	<meta property="{{ property }}" content="{{ content }}"/>
	{% endfor %}
{% endif %}

	<link rel="stylesheet" href="{{ TWIG_CSSFOLDERURL }}bootstrap.css" type="text/css" media="screen" />
<!-- 	<link rel="stylesheet" href="{{ TWIG_CSSFOLDERURL }}bootstrap-responsive.css" type="text/css" media="screen" /> -->
	<link rel="stylesheet" href="{{ TWIG_CSSFOLDERURL }}bootstrap-theme.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ TWIG_CSSFOLDERURL }}font-awesome.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ TWIG_CSSFOLDERURL }}base.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ TWIG_CSSFOLDERURL }}style.css" type="text/css" media="screen" />
	
	<!-- External JS libraries -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css" media="screen" />
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-bootstrap.min.css" type="text/css" media="screen" />
	
	<link rel="stylesheet" href="{{ constant('SITEROOT') }}static/style/base.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ TWIG_CSSFOLDERURL }}style.css" type="text/css" media="screen" />
{% if METAPROP %}
	{% for property,content in METAPROP %}
	<meta property="{{ property }}" content="{{ content }}"/>
	{% endfor %}
{% endif %}
foreach(HTMLRendering::$cssURLs as $url) {
	echo '
	<link rel="stylesheet" type="text/css" href="'.$url.'" media="screen" />';
}
?>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ constant('SITEROOT') }}">{{ constant('SITENAME') }}</a>
		</div>
		<div class="collapse navbar-collapse">
{{ RENDERER.showMenu('topmenu') }}
		</div>
	</div>
</div>

<div class="container">

{% if Page %}

{{ Page|raw }}

{% else %}

{% include Module ~ ".twig" %}

{% endif %}

</div>

</body>
</html>