<!DOCTYPE html>
<html>
<head>
	<title>{% if MODTITLE %}{{ MODTITLE }} :: {% endif %}{{ constant('SITENAME') }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="Description" content=""/>
	<meta name="Author" content="{{ constant('AUTHORNAME') }}"/>
	<meta name="application-name" content="{{ constant('SITENAME') }}" />
	<meta name="msapplication-starturl" content="{{ constant('DEFAULTLINK') }}" />
	<meta name="Keywords" content="projet"/>
	<meta name="Robots" content="Index, Follow"/>
	<meta name="revisit-after" content="16 days"/>
{% if METAPROP %}
	{% for property,content in METAPROP %}
	<meta property="{{ property }}" content="{{ content }}"/>
	{% endfor %}
{% endif %}

	<link rel="stylesheet" href="{{ TWIG_CSSFOLDERURL }}bootstrap.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ TWIG_CSSFOLDERURL }}bootstrap-responsive.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ TWIG_CSSFOLDERURL }}style.css" type="text/css" media="screen" />
	
	<!-- External JS libraries -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body class="{{ Module }}">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">{{ constant('SITENAME') }}</a>
          <div class="nav-collapse collapse">
{{ MENUS.topmenu|raw }}
          </div>
        </div>
      </div>
    </div>

<div class="container">

{% if Page %}

{{ Page|raw }}

{% else %}

{% include Module ~ ".twig" %}

{% endif %}

</div>

</body>
</html>